@{
    TempData["NavBar"] = "adm";
    Animais animais = new Animais(null, null, null, null, null, null, null);
    animais = (Animais) ViewBag.animal;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/pesquisaP.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/identidade.css" asp-append-version="true" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>ePet - Pesquisar Pet</title>
</head>
<body>
    <main>
        <form method="post" class="cadastro" asp-action="ListarAnimal">
            <br>
            <h2>PESQUISA PET</h2>
            <br><br>
            <h3 id="cod">Informe o código do animal a ser pesquisado: <input type="text" class="input_field" id="input" name="cod_animal" /></h3>
            <br>
            <br>
            <table>
                <thead>
                    <tr>
                        <th scope="col">CÓD</th>
                        <th scope="col">NOME</th>
                        <th scope="col">TIPO SANG.</th>
                        <th scope="col">ID RESPONS.</th>
                        <th scope="col">STATUS</th>
                        <th scope="col">TIPO ANIMAL</th>
                        <th scope="col">CPF DONO</th>
                    </tr>
                </thead>
                <tbody>

                <td>@animais.CodAnimal</td>
                <td>@animais.Nome</td>
                <td>@animais.TipoSanguineo</td>
                <td>@animais.Autoridade_Responsavel</td>
                <td>@animais.Status</td>
                <td>@animais.T_Animal</td>
                <td>@animais.CodDono</td>
                </tbody>
            </table>
            <br>
            <button type="submit" id="botao">PESQUISAR</button>
        </form>
    </main>
</body>
</html>
