@model IEnumerable<ePet.Models.Usuarios>

@{
    ViewData["Title"] = "ListarUsuario";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/pesquisaP.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/identidade.css" asp-append-version="true" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>ePet - Pesquisar Usuário</title>
</head>
<body>
    <main>
        <header>
            <div class="menu-hamburguer">
                <div class="linha1"></div>
                <div class="linha2"></div>
                <div class="linha3"></div>
            </div>

            <nav class="navbar">
                <a asp-controller="Home" asp-action="HomeADM"><img src="~/img/logo-sem-fundo.png" alt=""></a>
                <ul class="nav-filhos">
                    <li><a class="preto" asp-controller="HomeADM" asp-action="CadastroPet"><img src="~/img/pata-logo.png" />CADASTRAR</a></li>
                    <li><a class="preto" asp-controller="HomeADM" asp-action="PesquisaUsuario"><img src="~/img/pata-logo.png" />USUÁRIOS</a></li>
                    <li><a class="preto" asp-controller="HomeADM" asp-action="PesquisaPet"><img src="~/img/pata-logo.png" />PETS</a></li>
                    <li><a class="preto" asp-controller="HomeADM" asp-action="Denuncia"><img src="~/img/pata-logo.png" />DENUNCIAS</a></li>
                    <li><a class="preto" asp-controller="HomeADM" asp-action="Adocao"><img src="~/img/pata-logo.png" />ADOÇÃO</a></li>
                </ul>
            </nav>
        </header>
        <div class="tituloPes">
            <p>Todos os Usuários!</p>
        </div>

        <form method="post" class="HomeADM" asp-action="PesquisaUsuario">
            <div class="tabela">
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Email</th>
                            <th>Senha</th>
                            <th>Data de nascimento</th>
                            <th>CEP</th>
                            <th>Cidade</th>
                            <th>Bairro</th>
                            <th>Rua</th>
                            <th>Complemento</th>
                            <th>Telefone</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Cpf)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Senha)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DataNasc)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Cep)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Cidade)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Bairro)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Rua)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Complemento)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Telefone)</td>

                                    <td class="exEd">
                                        <a href="@Url.Action("EditarUsuario", "HomeADM", new { cpf = item.Cpf })">
                                            <img src="~/img/image 63.png" alt="Editar" />
                                        </a>

                                        <form method="post" asp-action="DeletarUsuario" asp-route-cpf="@item.Cpf" onsubmit="return confirm('Tem certeza que deseja excluir este usuário?');">
                                            <button type="submit" style="border: none; background: transparent;">
                                                <img src="~/img/image 62.png" alt="Excluir" />
                                            </button>
                                        </form>
                                    </td>

                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="12">Nenhum usuário encontrado.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>
    </main>
</body>
</html>
