@model IEnumerable<ePet.Models.Animais>

@{
    ViewData["Title"] = "ListarAnimais";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/pesquisaP.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/identidade.css" asp-append-version="true" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>ePet - Pesquisar Pet</title>
</head>
<body>
    <main>
        <div class="tituloPes">
            <p>Todos os pets!</p>
        </div>

        <form method="post" class="HomeADM" asp-action="ListarAnimais">
            <div class="tabela">
            <table>
                <thead>
                    <tr>
                        <th >Nome</th>
                        <th >Comporta</th>
                        <th >especie</th>
                        <th >Idade</th>
                        <th >Castração</th>
                        <th>Sexo</th>
                        <th >Status</th>
                        <th >Peso</th>
                        <th >Raça</th>
                        <th >Porte</th>
                        <th>Código</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>

                        @if (Model != null && Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Comportamento)</td>
                                    <td>@Html.DisplayFor(modelItem => item.T_Animal)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Idade)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Castracao)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Sexo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Peso)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Raca)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Porte)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CodAnimal)</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="12">Nenhum  encontrado.</td>
                            </tr>
                        }


@*                 <td>@animais.CodAnimal</td>
                <td>@animais.Nome</td>
                <td>@animais.Autoridade_Responsavel</td>
                <td>@animais.Status</td>
                <td>@animais.T_Animal</td>
                <td class="exEd">
                    <img src="~/img/image 62.png" />
                    <img src="~/img/image 63.png" />
                </td> *@

                </tbody>
            </table>
            </div>
        </form>
    </main>
</body>
</html>
