@model ePet.Models.Animais

@{
    ViewData["Title"] = "Perfil do Pet";
    Layout = null;

}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/identidade.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/css/perfilPet.css" asp-append-version="true" />

    <title>Perfil do Pet</title>
</head>
<header>

    <div class="menu-hamburguer">
        <div class="linha1"></div>
        <div class="linha2"></div>
        <div class="linha3"></div>
    </div>

    <nav class="navbar">
        <div class="imgEpet">
            <a asp-controller="Home" asp-action="Index"><img src="~/img/logo-sem-fundo.png" alt=""></a>
        </div>
        <ul class="nav-filhos">
            <li><a class="preto" asp-controller="Home" asp-action="Apadrinhe"><img src="~/img/pata-logo.png" /> APADRINHE</a></li>
            <li><a class="preto" asp-controller="Home" asp-action="Adote"><img src="~/img/pata-logo.png" />ADOÇÃO</a></li>
            <li><a class="preto" asp-controller="Home" asp-action="Entrar"><img src="~/img/pata-logo.png" />ENTRAR</a></li>
        </ul>
    </nav>
</header>
<body>
    <main>
        <div class="containerCorpoPagPet">
            <div class="containerInfoPet">
                <div class="nomePet">
                    <p>
                        @if (Model != null)
                        {
                        <p>Nome: @Model.Nome</p>
                        }
                        else
                        {
                        <p>Animal não encontrado.</p>
                        }
                    </p>
                    <div class="linhaMarrom"></div>
                </div>
                <div class="containerInfoPrincipais">
                    <div class="infoPrincipais">
                        @if (Model != null)
                        {
                            <p>Idade: @Model.Idade</p>
                            <p>Porte @Model.Porte</p>
                            <p>Gênero: @Model.Sexo</p>
                        }
                        else
                        {
                            <p>Animal não encontrado.</p>
                        }

                    </div>
                </div>
                <div class="descricao">
                    <p>
                        @if (Model != null)
                        {
                        <p>Comportamento: @Model.Comportamento</p>
                        <p>Castração: @Model.Castracao</p>
                        <p>Código do Animal: @Model.CodAnimal</p>
                        }
                        else
                        {
                        <p>Animal não encontrado.</p>
                        }</p>
                </div>
                <div class="containerButton">
                    <a asp-controller="Home" asp-action="Adotar" asp-route-codigo_animal="@Model.CodAnimal">
                        <button>Quero Adotar</button>
                    </a>
                </div>
            </div>
            <div class="containerFotoPet">
                <div class="fotoPet">
                    @if (!string.IsNullOrEmpty(Model.ImageBase64))
                    {
                        <img src="data:image/jpeg;base64,@Model.ImageBase64" alt="Imagem do animal" />
                    }
                    else
                    {
                        <img src="~/img/placeholder.png" alt="Imagem padrão" />
                    }
                </div>
            </div>
        </div>
    </main>
</body>
</html>